<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Live Project">
<test name="Book Store">
<classes>
<class name="login.ValidateLoginForm"/>
<class name="login.ValidateRegisterForm"/>

</classes>
</test>
<!--test name="Validate">
<classes>

</classes>
</test>
<test name="Other">
<classes>

</classes>
</test-->
</suite>