<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Live Project" verbose="10">
<test name="Book Store - Firefox">
<parameter name="browser" value="firefox"/>
<classes>
<class name="login.ValidateLoginForm"/>
<class name="login.ValidateRegisterForm"/>
<class name="login.LoginUser"/>
</classes>
</test>
<test name="Book Store - Chrome">
<parameter name="browser" value="chrome"/>
<classes>
<class name="login.ValidateLoginForm"/>
<class name="login.ValidateRegisterForm"/>
<class name="login.LoginUser"/>
</classes>
</test>
<!--test name="Other">
<classes>

</classes>
</test-->
</suite>